.conteudomapa {
	width:850px;
	height:250px;
	
	margin-top:300px;
	margin-left:200px;
	margin-right:0px;
    display: block;
	text-align:center;
	
	background:#0099CC;
	 border-radius: 20px;
	background: #0099CC ;
    box-shadow: 10px 10px 10px #6CA6CD;
   -webkit-box-shadow: 10px 10px 10px #6CA6CD;
   -moz-box-shadow: 10px 10px 10px #6CA6CD;
    border-radius: 20px;
	text-align: left;
	font-size:20px;
	padding-top:10px;
	padding-left:20px;
}


a:link    {color:green; background-color:transparent; text-decoration:none}
	